main {
    margin-top: 6.4rem;
    margin-bottom: 12.8rem;
}
.container {
    .calendar {
        margin-top: 6.4rem;
        .calendar-title {
            color: #6e99fd;
            font-family: "Baloo Thambi 2", system-ui;
            font-size: 3.2rem;
            font-style: normal;
            font-weight: 900;
            line-height: 150%; /* 48px */
            text-transform: uppercase;
        }
        .calendar-content {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 2.8rem;
            .calendar-item {
                color: #333;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                gap: 1rem;
                width: 10rem;
                height: 10rem;
                padding: 0.8rem;
                border-radius: 2rem;
                text-transform: uppercase;
                cursor: pointer;
                &:hover {
                    background: #fff;
                    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25),
                        0px 4px 4px 0px rgba(0, 0, 0, 0.25);
                    color: #6e99fd;
                }
                .calendar-item-title {
                    width: 100%;
                    text-align: center;
                    font-family: "Baloo Thambi 2", system-ui;
                    font-size: 1.8rem;
                    font-style: normal;
                    font-weight: 600;
                }
                .calendar-item-date {
                    width: 100%;
                    text-align: center;
                    leading-trim: both;
                    text-edge: cap;
                    font-family: "Open Sans", sans-serif;
                    font-size: 5.6rem;
                    font-style: normal;
                    font-weight: 800;
                }
            }
        }
    }
}

@media screen and (600px < width < 900px) {
    .container {
        .calendar {
            .calendar-content {
                .calendar-item {
                    width: 10rem;
                    height: 10rem;
                    padding: 0.8rem;
                    .calendar-item-title {
                        font-size: 1.6rem;
                    }
                    .calendar-item-date {
                        font-size: 4rem;
                    }
                }
            }
        }
    }
}

@media screen and (width < 600px) {
    .container {
        .calendar {
            display: flex;
            align-items: center;
            position: relative;
            .calendar-content {
                justify-content: flex-start;
                overflow-x: auto;
                scroll-snap-type: mandatory;
                scroll-behavior: smooth;
                scrollbar-width: none; /* Firefox */
                -ms-overflow-style: none; /* Internet Explorer 10+ */
                &::-webkit-scrollbar {
                    display: none; /* Chrome, Safari e Opera */
                }
                .calendar-item {
                    flex: 0 0 auto;
                    scroll-snap-align: start;
                }
            }
        }
    }
}
