.benefit-card-container{
    display: flex;
    width: 30rem;
    height: 40rem;
    padding: 3.2rem 2.4rem;
    align-items: center;
    justify-content: center;

    border-radius: 2rem;

    .benefit-card-content{
        display: flex;
        width: 32rem;
        flex-direction: column;
        align-items: center;
        gap: 1.6rem;
        flex-shrink: 0;

        .benefit-card-icon{
            width: 22.2rem;
            height: 22.2rem;
            aspect-ratio: 1/1;
            border-radius: 100%;

            img{
                width: 100%;
                height: auto
            }
        }

        .benefit-card-text{
            h3{
                color:#333;
                text-align: center;
                font-family: "Baloo Thambi 2", system-ui;
                font-size: 2.8rem;
                font-style: normal;
                font-weight: 900;
                line-height: normal;
                text-transform: uppercase;
            }
            p{
                color:#333;
                text-align: center;
                font-family: "Open Sans", sans-serif;
                font-size: 2rem;
                font-style: normal;
                font-weight: 400;
                line-height: 150%; /* 30px */
            }
        }
    }
}

.green-bg{
    background: #C3F733;
}
.blue-bg{
    background: #57ACEF;
}
.purple-bg{
    background: #E20C88;
    .benefit-card-content{
        .benefit-card-text{
            h3{
                color:#FFFFFF;
            }
            p{
                color:#FFFFFF;
            }
        }
    }
}
@media screen and (600px < width < 900px ) {
    .benefit-card-container{
        width: 28rem;
        height: 35rem;
        padding: 2rem;
        .benefit-card-content{
            .benefit-card-icon{
                width: 15rem;
                height: 15rem;
            }

            .benefit-card-text{
                h3{
                    font-size: 2rem;
                }
                p{
                    font-size: 1.8rem;
                }
            }
        }
    }
    .purple-bg{
        background: #E20C88;
        .benefit-card-content{
            .benefit-card-text{
                h3{
                    color:#FFFFFF;
                }
                p{
                    color:#FFFFFF;
                }
            }
        }
    }
}
@media screen and ( width < 600px) {
    .benefit-card-container{
        width: 30rem;
        height: 35rem;
        padding-block: 0rem;
        .benefit-card-content{
            .benefit-card-icon{
                width: 15rem;
                height: 15rem;
            }

            .benefit-card-text{
                h3{
                    font-size: 2rem;
                }
                p{
                    font-size: 1.8rem;
                }
            }
        }
    }
    .purple-bg{
        background: #E20C88;
        .benefit-card-content{
            .benefit-card-text{
                h3{
                    color:#FFFFFF;
                }
                p{
                    color:#FFFFFF;
                }
            }
        }
    }
}
