<footer [class]="isBgColor ? 'bg-color' : ''">
    <div class="warpper">
        <div class="footer-container">
            <div class="footer-content">
                <div class="footer-logo">
                    <h3>FinilândiaFest</h3>
                    <p>Espalhando doçura e sorrisos por onde passamos</p>
                    <div class="btns">
                        <app-btn-social-networks imageURL="facebook.svg" imageAlt="Logo do facebook"></app-btn-social-networks>
                        <app-btn-social-networks icon="whatsapp-logo" classColor="color-icon" [classIcon]=true></app-btn-social-networks>
                        <app-btn-social-networks icon="instagram-logo" classColor="color-icon" [classIcon]=true></app-btn-social-networks>
                    </div>
                </div>
                <div class="footer-links">
                    <ul>
                        <li><a href="">Home</a></li>
                        <li><a href="#event">Próximos Eventos</a></li>
                        <li><a href="#about">Sobre Nós</a></li>
                        <li><a href="#testimony">Depoimentos</a></li>
                        <li><a href="#blog">Blog</a></li>
                        <li><a href="#FAQs">FAQ</a></li>
                        <li><a href="#contact">Contato</a></li>
                    </ul>
                    <p>
                        Quer transformar sua festa em um momento inesquecível, daqueles que todo mundo comenta depois? Nossa barraca de balas Fini é o detalhe que faz toda a diferença — colorida, divertida e impossível de resistir! Manda um "oi" pra gente no WhatsApp e vamos juntos planejar o ponto mais doce da sua comemoração.
                    </p>
                </div>
            </div>
            <p>© 2025 FinilândiaFest. Todos os direitos reservados ( Desenvolvido por Juan Barcelos )</p>
        </div>
    </div>
</footer>
