<header>
    <nav class="navbar">
        <div class="navbar-brand">
            <div class="navbar-logo">
                <img src="navbar/logo.svg" alt="Logo">
            </div>
            <ul class="navbar-menu">
                <li class="navbar-item"  ><a>Eventos</a></li>
                <li class="navbar-item"  ><a>Sobre Nós</a></li>
                <li class="navbar-item" ><a>Galeria</a></li>
                <li class="navbar-item" routerLink="blog" ><a>Blog</a></li>
            </ul>
        </div>
        <div class="navbar-btn">
            <app-btn-social-networks imageURL="facebook.svg" imageAlt="Logo do facebook"></app-btn-social-networks>
            <app-btn-social-networks icon="instagram-logo" classColor="color-icon" [classIcon]=true></app-btn-social-networks>
        </div>
    </nav>
</header>
