.section-description {
    margin-top: 3.2rem;
}
.section-about-store {
    margin-top: 3.2rem;
}
.about-store {
    margin-top: 6.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3.2rem;
    .about-store-image img {
        width: 48.8rem;
        height: 60rem;
        border-radius: 2rem;
        object-fit: cover;
    }
}
.section-about-pillars {
    background: #fdd26e;
    padding: 6.4rem 0;
    margin-block: 6.4rem;
    .about-pillars {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        gap: 3.2rem;

        margin-top: 3.2rem;

        .pillar {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1.6rem;
            padding: 1.6rem 3.2rem;
            border-radius: 2rem;
            .pillar-image img {
                width: 11.8rem;
                height: 11.8rem;
                border-radius: 100%;
                aspect-ratio: 1/1;
            }
            .pillar-content {
                h3 {
                    color: #333;
                    font-family: "Baloo Thambi 2", system-ui;
                    font-size: 2.8rem;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    text-transform: uppercase;
                }
                p {
                    color: #333;
                    font-family: "Open Sans", sans-serif;
                    font-size: 2rem;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }
            }
        }
        .bg-blue {
            background: #57acef;
            width: 100rem;
        }
        .bg-pink {
            background: #e20c88;
            .pillar-content {
                h3 {
                    color: #f5f5f5;
                }
                p {
                    color: #f5f5f5;
                    font-weight: 600;
                }
            }
        }
        .bg-green {
            background: #c3f733;
            width: 100rem;
        }
    }
}
.section-about-founders {
    margin-bottom: 6.4rem;
}
.section-about-team {
    padding-top: 6.4rem;
    padding-bottom: 12.8rem;
    .title {
        margin-bottom: 3.2rem;
    }
}

@media screen and (600px < width < 900px) {
    .about-store {
        flex-direction: column;
        .about-store-image img {
            width: 100%;
            height: auto;
        }
        .about-store-image .founders-img {
            height: 50rem;
        }
    }
    .section-about-founders {
        margin-bottom: 4rem;
        .about-store {
            flex-direction: column;
            align-items: flex-start;
            .about-store-image .founders-img {
                height: 50rem;
            }
        }
    }
    .section-about-team {
        padding-top: 0rem;
        padding-bottom: 6.4rem;
        .title {
            margin-bottom: 3.2rem;
        }
    }
    .section-about-pillars {
        .about-pillars {
            align-items: center;
            .pillar {
                align-items: center;
            }
            .bg-blue {
                width: 100%;
            }
            .bg-pink {
                width: 100%;
                .pillar-content {
                    h3 {
                        color: #f5f5f5;
                    }
                    p {
                        color: #f5f5f5;
                        font-weight: 600;
                    }
                }
            }
            .bg-green {
                width: 100%;
            }
        }
    }
}

@media screen and (width < 600px) {
    .about-store {
        flex-direction: column;
        .about-store-image img {
            width: 100%;
            height: auto;
        }
        .about-store-image .founders-img {
            height: 50rem;
        }
    }
    .section-about-founders {
        margin-bottom: 4rem;
        .about-store {
            flex-direction: column;
            align-items: flex-start;
            .about-store-image .founders-img {
                height: 50rem;
            }
        }
    }
    .section-about-team {
        padding-top: 0rem;
        padding-bottom: 6.4rem;
        .title {
            margin-bottom: 3.2rem;
        }
    }
    .section-about-pillars {
        .about-pillars {
            align-items: center;
            .pillar {
                flex-direction: column;
                align-items: center;
                padding: 1.6rem;
                max-width: 35rem;
                .pillar-image img {
                    width: 10rem;
                    height: 10rem;
                }
                .pillar-content {
                    h3 {
                        font-size: 2rem;
                    }
                    p {
                        font-size: 1.6rem;
                    }
                }
            }
            .bg-blue {
                width: 100%;
            }
            .bg-pink {
                width: 100%;
                .pillar-content {
                    h3 {
                        color: #f5f5f5;
                    }
                    p {
                        color: #f5f5f5;
                        font-weight: 600;
                    }
                }
            }
            .bg-green {
                width: 100%;
            }
        }
    }
}
