<app-navbar></app-navbar>
<main>
    <div class="warpper">
        <div class="container">
            <div class="content">
                <span class="span-title">Dicas, ideias e inspirações para adoçar seu evento</span>
                <h1 class="section-title">Nosso blog tá recheado de ideias incríveis!</h1>
                <p class="section-description">
                    Quer saber como deixar sua festa ainda mais criativa? Ou descobrir curiosidades, tendências e bastidores das nossas barracas? Aqui você encontra tudo isso e muito mais.<b> Explore os posts e mergulhe nesse universo doce e divertido com a gente!</b>
                </p>
                <app-post-blog></app-post-blog>
            </div>
        </div>
    </div>
</main>
<app-footer [isBgColor]=true></app-footer>
