.warpper {
    max-width: 121.6rem;
    margin: 0 auto;
    height: 100%;
}

.content{
    .span-title{
        letter-spacing: 0;
        display: block;
        padding-bottom: .8rem;
    }
    .section-description{
        margin-top: 3.2rem;
        margin-bottom: 6.4rem;
    }
}

main{
    margin-top: 6.4rem;
    margin-bottom: 8rem;
}
