.warpper {
    max-width: 121.6rem;
    margin: 0 auto;
    height: 100%;
}
.hero-section{
    background-color: #FDD26E;
    height: 100vh;

    .hero-container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 3.2rem;

        .hero-content{
            color:#333;
            h1 {
                width: 52rem;
            }

            p{
                margin-top: 1.6rem;
                margin-bottom: 3.2rem;
            }
        }

        .hero-image{
            width: 90rem;
        }
    }
}

.event-section{
    background-color: #f5f5f5;
    height: 100vh;
    position: relative;

    .event-container{
        padding-block: 7.9rem;

        .event-content{
            width: 86.2rem;
            margin-top: 12.35rem;
            h2{
                margin-block: 1.6rem;
            }

            .event-calendar{
                display: flex;
                width: 69.6rem;
                padding: 0 1.6rem;
                justify-content: space-between;
                align-items: flex-start;
                align-content: flex-start;
                row-gap: 3.2rem;
                flex-wrap: wrap;

                margin-block: 3.2rem;
            }
        }
        .event-image{
            position: absolute;
            right: 3.2rem;
            top: 7.9rem;
        }
    }
}

.cta-section, .cta2-section{
    background-color: #f5f5f5;

    display: flex;
    justify-content: center;
    align-items: center;
    align-self: stretch;

    padding: 6.4rem 0;

    .cta-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        padding: 11.1rem 7.2rem;

        text-align: center;

        border-radius: 3rem;
        background: #FDD26E;

        h2{
            margin-block: 1.6rem;
        }
        p{
            margin-bottom: 3.2rem;
        }
    }
}

.cta2-section{
    background: #FDD26E;
}

.about-section {
    background-color: #FDD26E;
    height: 100vh;
    position: relative;
    .about-container{
        .about-content{
            padding-top: 10rem;
            width: 107.2rem;
            z-index: 1;
            position: relative;

            h2{
                margin-block: 1.6rem;
            }
            p{
                margin-bottom: 3.2rem;
            }
        }
        .about-image{
            position: absolute;
            bottom: 0;
            right: 0;
        }
    }
}

.benefits-section{
    background-color: #f5f5f5;
    position: relative;
    .benefits-container{
        .benefits-image{
            position: absolute;
            top: 0;
            right: 0;
        }
        .benefits-content{
            position: relative;
            z-index: 1;
            .benefits-header{
                padding-top: 26.6rem;
                h2{
                    margin-block: 1.6rem;
                }
                p{
                    margin-bottom: 4rem;
                }
            }
            .benefits-cards{
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 3.2rem;
                padding-bottom: 8rem;
            }
        }
    }
}

.testimony-section{
    background-color: #f5f5f5;
    height: 100vh;
    .testimony-container{
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .testimony-content{
            text-align: center;
            width: 100%;
            h2{
                margin-block: 1.6rem;
            }
            p{
                margin-bottom: 8.1rem;
            }
        }
    }
}

.faq-section{
    background-color: #f5f5f5;
    height: 100vh;
    .faq-container{
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .faq-content{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 3.2rem;

            .faq-header{
                width: 100%;
                span{
                    letter-spacing: .2rem;
                }
                h2{
                    margin-top: .8rem;
                    margin-bottom: 3.2rem;
                }
                p{
                    margin-bottom: 3.2rem;
                }
            }

            app-faqs{
                width: -webkit-fill-available;
            }
        }
    }
}
