<main>
    <section class="hero-section">
        <div class="warpper">
            <app-navbar></app-navbar>
            <div class="hero-container">
                <div class="hero-content">
                    <h1 class="section-title">A barraca mais doce da festa chegou!</h1>
                    <p class="section-description">
                        Surpreenda seus convidados com uma explosão de cores, sabores e alegria com nossas <b> barracas exclusivas de Balas Fini! </b>
                    </p>
                    <!-- <a href="" class="btn">Learn More</a> -->
                    <app-primary-button label="Bora de Fini!"></app-primary-button>
                </div>
                <img class="hero-image" src="home/hero-section.svg" alt="doces fini">
            </div>
        </div>
    </section>
    <section class="event-section">
        <div class="warpper">
            <div class="event-container">
                <div class="event-content">
                    <span class="span-title">Tem Fini Chegando Perto de Você!</span>
                    <h2 class="section-title">A Barraca Que Vira Ponto de Encontro!</h2>
                    <p class="section-description">
                        Seja em aniversários, casamentos ou eventos corporativos, nossa barraca de Balas Fini é a estrela que conquista adultos e crianças! Quer ver de perto essa explosão de alegria?
                        <b>Confira os próximos eventos ou fale com a gente e leve essa delícia pro seu também!</b>
                    </p>
                    <div class="event-calendar">
                        <app-event-card></app-event-card>
                        <app-event-card></app-event-card>
                        <app-event-card></app-event-card>
                        <app-event-card></app-event-card>
                    </div>
                    <app-primary-button label=" Próximas Paradas!" icon="map-pin"></app-primary-button>
                </div>
                <img class="event-image" src="home/event-section.svg" alt="balas fini">
            </div>
        </div>
    </section>
    <section class="cta-section">
        <div class="warpper">
            <div class="cta-content">
                <span class="span-title">Vamos conversar rapidinho?</span>
                <h2 class="section-title">Seu evento com gostinho de Fini <br> começa com um “Oi”!</h2>
                <p class="section-description">
                    Quer saber como levar a barraca Fini pra sua festa? É só mandar um "oi" pra gente no Whats e rapidinho a gente adoça seu evento com todas as infos que você precisa!
                </p>
                <app-primary-button label="Chama no Whats" icon="whatsapp-logo"></app-primary-button>
            </div>
        </div>
    </section>
    <section class="about-section">
        <div class="warpper">
            <div class="about-container">
                <div class="about-content">
                    <span class="span-title">Quem tá por trás da barraca?</span>
                    <h2 class="section-title">Conheça a história (doce) por trás da nossa barraca!</h2>
                    <p class="section-description">
                        A gente não vende só balas — a gente espalha alegria por onde passa! Quer saber como tudo começou, quem somos e por que nossa barraca faz tanto sucesso nas festas? <b> Vem conhecer nossa trajetória e se encantar com a gente!</b>
                    </p>
                    <app-primary-button label="Conheça nossa história"></app-primary-button>
                </div>
                <img class="about-image" src="home/about-section.svg" alt="balas fini">
            </div>
        </div>
    </section>
    <section class="benefits-section">
        <div class="warpper">
            <div class="benefits-container">
                <img class="benefits-image" src="home/benefits/benefits-section.svg" alt="balas fini">
                <div class="benefits-content">
                    <div class="benefits-header">
                        <span class="span-title">Mais que uma barraca, uma experiência!</span>
                        <h2 class="section-title">Por que a nossa barraca é o destaque da festa?</h2>
                        <p class="section-description">
                            Não é só uma barraca de doces, é uma experiência que encanta crianças e adultos! Descubra por que a nossa estrutura é sempre um sucesso nas festas mais animadas da cidade:
                        </p>
                    </div>
                    <div class="benefits-cards">
                        @for (benefit of benefits; track $index) {
                            <app-benefit-card [benefit]="benefit"></app-benefit-card>
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
