<div class="card">
    <div class="card-img">
        <p class="card-date-month">Mai</p>
        <p class="card-date-day">25</p>
        <!-- <p class="card-date-month">{{event.date | date:'MMM'}}</p>
        <p class="card-date-day">{{event.date | date:'d'}}</p> -->
    </div>
    <div class="card-content">
        <p class="card-date">25 mai, 2025</p>
        <p class="card-title">Festa da aninha</p>
        <p class="card-locale">Rio de Janeiro - RJ</p>
        <!-- <p>{{event.date | date:'medium'}}</p>
        <p class="card-title">{{event.name}}</p>
        <span>{{event.location}}</span> -->
    </div>
</div>

