@if(variant === 'secondary') {
    <div class="container">
        <h3>{{getFormattedDate()}}</h3>
        <div class="card-container">
            @for (event of filteredEvents; track $index) {
                <div class="card-secondary">
                    <div class="card-img-secondary">
                        <img src={{event.image}} alt={{event.name}}>
                    </div>
                    <div class="card-content-secondary">
                        <p class="card-title">{{event.name}}</p>
                        <p class="card-locale">
                            <i class="ph ph-map-pin"></i>
                            {{event.location}}
                        </p>
                    </div>
                </div>
            }
        </div>
    </div>
}
@if(variant === 'primary') {
    <div class="card">
        <div class="card-img">
            <p class="card-date-month">Mai</p>
            <p class="card-date-day">25</p>
        </div>
        <div class="card-content">
            <p class="card-date">25 mai, 2025</p>
            <p class="card-title">Festa da aninha</p>
            <p class="card-locale">Rio de Janeiro - RJ</p>
        </div>
    </div>
}
